<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h1>Web Notes</h1>

    <div class="content">
      <p>Welcome to Web Notes. This app will let you create notes and save them for later view<br>
      
    To singup go to this link: <a href='/user/singup'>Sing Up</a>.<br>
    <br>
     To login go to this link:<a href='/user/login'>Log In</a>.</p>
    </div>
  </div>
</div>
