<h3>Create a note</h3>
<form action="/notes/new" method="POST">
    <input type="text" id="name" name="name" placeholder="Name"><br>
	<br>
    <textarea name="notes" rows="4" cols="50"></textarea><br>
	<input type="submit" value="Create Note">
</form>