<h3>User Login</h3>
<form action="/user/login" method="POST">
	<input type="text" id="username" name="username" placeholder="Name:">
	<input type="password" id="password" name="password" placeholder="Password:">
	<input type="submit" value="Log In">
</form>