<h2>Updated Information for <%=@patient.name%></h2><br>

<h2>Medicins:</h2>
<% if !@patient.medicins.empty?%>
    <%@patient.medicins.each do |medicin|%>
    <li>
    <p><%=medicin.name%><p>
    <p><%=medicin.notes%><p><br>
    </li>
    <%end%>
  <%else%>
  <p>There seems to not be any medicin for this patient.<p>
  <%end%>  
<p>To edit medicins and notes from your patients go to <a href='/doctors/select_patient'>Edit patients medicins and notes</a>.</p>
<p>To go to your main page go to <a href='/doctors/id'>Main Doctor's Page</a>.</p>